@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', san-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #141414;
}

h1 {
    font-weight: 300;
    color: white;
    margin-bottom: 1em;
}

p {
    font-weight: 300;
    color: white;
    margin-bottom: 1em;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292929;
    padding: 3em;
    border-radius: 0.5em;

}

#container-radio {
    display: flex;
    gap: 0.5em;
}

#container-radio div {
    color: white;
    margin-bottom: 1em;
}

.radio {
    margin: 0.5em;
}

#btn-excluir {
    padding: 0.8em;
    width: 100%;
    background-image: linear-gradient(to right, #006200, #00eb00);
    border-radius: 3em;
    border: none;
    color: white;
    font-weight: 500;
    transition: 250ms;
}

#btn-excluir:hover {
    cursor: pointer;
    transform: translateY(-3px);
}